<p class="text-danger text-size-12" *ngIf="errors?.required">
    {{ label }} required
</p>

<p class="text-danger text-size-12" *ngIf="errors?.ngbDate">
    {{ label }} date invalid
</p>

<p class="text-danger text-size-12" *ngIf="errors?.requiredTrue">
    {{ label }} must be selected
</p>

<p class="text-danger text-size-12" *ngIf="errors?.minlength">
    {{ label }} length must not be less than {{ errors?.minlength?.requiredLength }} digit
</p>

<p class="text-danger text-size-12" *ngIf="errors?.maxlength">
    {{ label }} length must not be exceed {{ errors?.maxlength?.requiredLength }} digit
</p>

<p class="text-danger text-size-12" *ngIf="errors?.min">
    {{ label }} must not be less than {{ errors?.min?.min }}
</p>

<p class="text-danger text-size-12" *ngIf="errors?.max">
    {{ label }} must not be exceed {{ errors?.max?.max }}
</p>

<p class="text-danger text-size-12" *ngIf="errors?.email">
    The email must be a valid email address.
</p>

<p class="text-danger text-size-12" *ngIf="apiValidationErrors">
    {{ apiValidationErrors.password }}
</p>

<p class="text-danger text-size-12" *ngFor="let apiErrorMessage of apiValidationErrors">
    {{ apiErrorMessage }}
</p>