<header id="header-container" class="fixed fullwidth dashboard">

    <!-- Header -->
    <div id="header" class="not-sticky">
        <div class="container">

            <!-- Left Side Content -->
            <div class="left-side">

                <!-- Logo -->
                <div id="logo">
                    <a><img src="./assets/images/logo.png" alt=""></a>
                    <a class="dashboard-logo"><img src="./assets/images/logo2.png" alt=""></a>
                </div>

                <!-- Mobile Navigation -->
                <div class="mmenu-trigger">
                    <button class="hamburger hamburger--collapse" type="button">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>

            </div>
            <!-- Left Side Content / End -->

            <div class="right-side">
                <div class="header-widget">

                    <div class="user-menu" (click)="onToggleUserMenu()" [ngClass]="{'active': showUserMenu}">
                        <div class="user-name">
                            <span><img src="./assets/images/dashboard-avatar.jpg" alt=""></span>
                            {{ userInfo?.name }}
                        </div>
                        <ul>
                            <!-- <li>
                                <a>
                                    <i class="sl sl-icon-settings"></i>
                                    Dashboard
                                </a>
                            </li>
                            <li>
                                <a>
                                    <i class="sl sl-icon-envelope-open"></i>
                                    Messages
                                </a>
                            </li>
                            <li>
                                <a>
                                    <i class="fa fa-calendar-check-o"></i>
                                    Bookings
                                </a>
                            </li> -->
                            <li>
                                <a [routerLink]="['/login']">
                                    <i class="sl sl-icon-power"></i>
                                    Logout
                                </a>
                            </li>
                        </ul>
                    </div>

                    <!-- <a href="dashboard-add-listing.html" class="button border with-icon">
                        Add Listing
                        <i class="sl sl-icon-plus"></i>
                    </a> -->
                </div>
            </div>

        </div>
    </div>
    <!-- Header / End -->

</header>