<main>
    <div id="titlebar">
        <div class="row">
            <div class="col-md-12">
                <h2>
                    <i class="sl sl-icon-layers"></i>
                    {{ isUpdateMode ? 'Update' : 'Create' }} Role
                </h2>
                <!-- Breadcrumbs -->
                <nav id="breadcrumbs">
                    <ul>
                        <li class="pointer" [routerLink]="['/admin']">Admin</li>
                        <li class="pointer" [routerLink]="['/admin/user-management/roles']">Roles</li>
                        <li class="pointer">{{ isUpdateMode ? 'Update' : 'Create' }}</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-6 col-md-6">

            <div id="add-listing">

                <!-- Section -->
                <div class="add-listing-section">

                    <!-- Headline -->
                    <div class="add-listing-headline">
                        <h3>Basic Informations</h3>
                    </div>

                    <!-- Title -->
                    <form [formGroup]="formGroup" (submit)="onSubmit()">
                        <div class="row with-forms">

                            <div class="col-md-12">
                                <h5>Role Name</h5>
                                <input class="search-field" type="text" formControlName="name">

                                <app-form-error-message [apiValidationErrors]="apiValidationErrors?.name"
                                    [errors]="formGroup?.controls?.name?.errors" [label]="'Role Name'">
                                </app-form-error-message>
                            </div>

                            <div class="col-md-12">
                                <button type="submit" class="button preview" [disabled]="!formGroup?.valid">
                                    {{ isUpdateMode ? 'Update' : 'Create' }}
                                    <i class="fa fa-paper-plane"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- Section / End -->
            </div>

        </div>

        <div class="col-lg-6 col-md-6">

            <div class="dashboard-list-box with-icons margin-top-0">
                <h4>Permissions Setting</h4>
                <ul>
                    <li *ngFor="let permission of permissions" class="pointer" (click)="onSelect(permission)">
                        <a>
                            <i class="list-box-icon sl sl-icon-layers"></i>
                            {{ permission?.name }}
                        </a>
                        <a class="close-list-item-show" style="display: block;" *ngIf="isSelected(permission?.name)"><i class="fa fa-check"></i></a>
                    </li>
                </ul>

            </div>


        </div>
    </div>


</main>