<div id="wrapper">
    <!-- Header Here -->
    <admin-header></admin-header>
    <div class="clearfix"></div>

    <div id="dashboard">
        <!-- Responsive Navigation Trigger -->
        <a class="dashboard-responsive-nav-trigger" style="height: 60px;">
            <i class="fa fa-reorder"></i>
            Dashboard Navigation
        </a>

        <div class="dashboard-nav">
            <div class="dashboard-nav-inner">

                <ul data-submenu-title="Master Data">
                    <li [routerLink]="['/admin/categories']" routerLinkActive="active">
                        <a>
                            <i class="sl sl-icon-layers"></i>
                            Categories
                        </a>
                    </li>
                </ul>

                <ul data-submenu-title="Users Management">
                    <li [routerLink]="['/admin/user-management/users']" routerLinkActive="active">
                        <a>
                            <i class="sl sl-icon-user"></i>
                            Users
                        </a>
                    </li>
                    <li [routerLink]="['/admin/user-management/roles']" routerLinkActive="active">
                        <a>
                            <i class="sl sl-icon-layers"></i>
                            Roles
                        </a>
                    </li>
                    <li [routerLink]="['/admin/user-management/permissions']" routerLinkActive="active">
                        <a>
                            <i class="sl sl-icon-layers"></i>
                            Permissions
                        </a>
                    </li>
                </ul>

                <ul data-submenu-title="Out Trains Management">
                    <li [routerLink]="['/admin/out-train-management/out-trains']" routerLinkActive="active">
                        <a>
                            <i class="sl sl-icon-layers"></i>
                            Out Trains
                        </a>
                    </li>
                </ul>

                <!-- <ul data-submenu-title="Account">
                    <li><a><i class="sl sl-icon-user"></i> My Profile</a></li>
                    <li><a><i class="sl sl-icon-power"></i> Logout</a></li>
                </ul> -->

            </div>
        </div>
        <!-- Navigation / End -->


        <!-- Content
        ================================================== -->
        <div class="dashboard-content">

            <router-outlet></router-outlet>

            <!-- Copyrights -->
            <div class="col-md-12">
                <div class="copyrights">© 2020 OutTrains. All Rights Reserved.</div>
            </div>

        </div>
        <!-- Content / End -->



    </div>


</div>