<main>
    <div id="titlebar">
        <div class="row">
            <div class="col-md-12">
                <h2>
                    <i class="sl sl-icon-layers"></i>
                    {{ isUpdateMode ? 'Update' : 'Create' }} Permission
                </h2>
                <!-- Breadcrumbs -->
                <nav id="breadcrumbs">
                    <ul>
                        <li class="pointer" [routerLink]="['/admin']">Admin</li>
                        <li class="pointer" [routerLink]="['/admin/user-management/permissions']">Permissions</li>
                        <li class="pointer">{{ isUpdateMode ? 'Update' : 'Create' }}</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-12 col-md-12">

            <div id="add-listing">

                <!-- Section -->
                <div class="add-listing-section">

                    <!-- Headline -->
                    <div class="add-listing-headline">
                        <h3>Basic Informations</h3>
                    </div>

                    <!-- Title -->
                    <form [formGroup]="formGroup" (submit)="onSubmit()">
                        <div class="row with-forms">

                            <div class="col-md-12">
                                <h5>Permission Name</h5>
                                <input class="search-field" type="text" formControlName="name">

                                <app-form-error-message [apiValidationErrors]="apiValidationErrors?.name"
                                    [errors]="formGroup?.controls?.name?.errors" [label]="'Permission Name'">
                                </app-form-error-message>
                            </div>

                            <div class="col-md-12">
                                <button type="submit" class="button preview" [disabled]="!formGroup?.valid">
                                    Submit
                                    <i class="fa fa-paper-plane"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- Section / End -->
            </div>

        </div>
    </div>


</main>