<main>
    <div id="titlebar">
        <div class="row">
            <div class="col-md-12">
                <h2>
                    <i class="sl sl-icon-layer"></i>
                    Out Trains
                </h2>
                <!-- Breadcrumbs -->
                <nav id="breadcrumbs">
                    <ul>
                        <li class="pointer" [routerLink]="['/admin']">Admin</li>
                        <li class="pointer" [routerLink]="['/admin/out-train-management/out-trains']">Out Trains</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <div class="row">

        <!-- Listings -->
        <div class="col-lg-12 col-md-12">
            <div class="row with-forms">
                <div class="col-xl-9 col-lg-8 col-md-12 col-sm-12">
                    <div class="w-100 d-flex justify-content-center">
                        <a class="button border with-icon"
                            [routerLink]="['/admin/out-train-management/out-trains/create']">
                            Add Out Trains
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12">
                    <!-- <input class="search-field" type="text" value="" placeholder="Press 'Enter' to Search" /> -->
                </div>
            </div>
        </div>

        <div class="col-lg-12 col-md-12">

            <div class="dashboard-list-box with-icons margin-top-20">
                <h4></h4>
                <ul>
                    <li *ngFor="let outTrain of outTrains">
                        <a [routerLink]="['/admin/out-train-management/out-trains', outTrain?.id, 'update']">
                            <i class="list-box-icon sl sl-icon-layers"></i>
                            {{ outTrain?.name }} ( {{ outTrain?.status ? outTrain?.status : 'DRAFT' }} )
                        </a>

                        <a style="margin-left: 50px;">
                            <strong class="pointer" style="color: #4CAF50;margin-left: 20px;"
                                *ngIf="outTrain?.status != 'ACTIVE'"
                                (click)="onChangeStatus(outTrain, 'PUBLISHED')">PUBLISH</strong>
                            <strong class="pointer" style="color: #607D8B;margin-left: 20px;"
                                *ngIf="outTrain?.status == 'ACTIVE'" (click)="onChangeStatus(outTrain, 'DRAFT')">Revert
                                To Draft</strong>
                        </a>

                        <a style="margin-left: 50px;">
                            <strong class="pointer" style="color: #4CAF50;margin-left: 20px;"
                                *ngIf="!outTrain?.is_featured" (click)="onMarkAsFeatured(outTrain, true)">MARK
                                AS FEATURED</strong>

                            <strong class="pointer" style="color: #FF9800;margin-left: 20px;"
                                *ngIf="outTrain?.is_featured" (click)="onMarkAsFeatured(outTrain, false)">MARK
                                AS UNFEATURED</strong>
                        </a>

                        <a (click)="onDeleteOutTrain(outTrain?.id)" class="close-list-item pointer"><i
                                class="fa fa-close"></i></a>
                    </li>
                </ul>

            </div>

            <!-- Pagination -->
            <!-- <div class="clearfix"></div>
            <div class="pagination-container margin-top-30 margin-bottom-0">
                <nav class="pagination">
                    <ul>
                        <li><a href="#" class="current-page">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#"><i class="sl sl-icon-arrow-right"></i></a></li>
                    </ul>
                </nav>
            </div> -->
            <!-- Pagination / End -->

        </div>
    </div>


</main>